
.blanco-color{color: #fff;}
.gris-color{color: #D1D3D4;}
.gris-fondo{background-color: #D1D3D4;}
.crema-fondo{background-color: #f9ecc0;}
.negro-fondo{background-color: #191916;}
.rosagris-fondo{background-color: #704958;}


body{
  font-family: 'Space Mono', monospace;
  color:#372929;
}

.texto-normal {
  font-size: 1rem;
}
.texto-chico {
  font-size: 0.8rem;
}
.texto-intro {
  font-size: 1.8rem;
  font-weight: 400;
}
.colgado {
  font-size: 0.8rem;
  font-weight: 400;
}
.titulo-normal{
  font-size: 1.8rem;
  font-weight: 700;
}
.titulo-mediano{
  font-size: 4rem;
  font-weight: 700;
}

.carousel-control-next, .carousel-control-prev {
  width: 5%;
}


/* ===========================================================================================================================*/
/* ===========================================================================================================================*/

/* youtube */

/* ===========================================================================================================================*/
/* ===========================================================================================================================*/

.youtube {
    background-color: #000;
    margin-bottom: 30px;
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    cursor: pointer;
}
.youtube img {
    width: 100%;
    top: -16.84%;
    left: 0;
    opacity: 0.7;
}
.youtube .play-button {
    width: 90px;
    height: 60px;
    background-color: #333;
    box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
    z-index: 1;
    opacity: 0.8;
    border-radius: 6px;
}
.youtube .play-button:before {
    content: "";
    border-style: solid;
    border-width: 15px 0 15px 26.0px;
    border-color: transparent transparent transparent #fff;
}
.youtube img,
.youtube .play-button {
    cursor: pointer;
}
.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before {
    position: absolute;
}
.youtube .play-button,
.youtube .play-button:before {
    top: 50%;
    left: 50%;
    transform: translate3d( -50%, -50%, 0 );
}
.youtube iframe {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}


/* ===========================================================================================================================*/
/* ===========================================================================================================================*/

/* animaciones */

/* ===========================================================================================================================*/
/* ===========================================================================================================================*/

.rainbow-bg{
		animation: rainbow-bg 2.5s linear;
		animation-iteration-count: infinite;
}

.rainbow{
		animation: rainbow 2.5s linear;
		animation-iteration-count: infinite;
}

@keyframes rainbow-bg{
		100%,0%{
			background-color: rgb(255,0,0);
		}
		8%{
			background-color: rgb(255,127,0);
		}
		16%{
			background-color: rgb(255,255,0);
		}
		25%{
			background-color: rgb(127,255,0);
		}
		33%{
			background-color: rgb(0,255,0);
		}
		41%{
			background-color: rgb(0,255,127);
		}
		50%{
			background-color: rgb(0,255,255);
		}
		58%{
			background-color: rgb(0,127,255);
		}
		66%{
			background-color: rgb(0,0,255);
		}
		75%{
			background-color: rgb(127,0,255);
		}
		83%{
			background-color: rgb(255,0,255);
		}
		91%{
			background-color: rgb(255,0,127);
		}
}

@keyframes rainbow{
		100%,0%{
			color: rgb(255,0,0);
		}
		8%{
			color: rgb(255,127,0);
		}
		16%{
			color: rgb(255,255,0);
		}
		25%{
			color: rgb(127,255,0);
		}
		33%{
			color: rgb(0,255,0);
		}
		41%{
			color: rgb(0,255,127);
		}
		50%{
			color: rgb(0,255,255);
		}
		58%{
			color: rgb(0,127,255);
		}
		66%{
			color: rgb(0,0,255);
		}
		75%{
			color: rgb(127,0,255);
		}
		83%{
			color: rgb(255,0,255);
		}
		91%{
			color: rgb(255,0,127);
		}
}
