
.blanco-color{color:#fff;}
.gris-color{color:#D1D3D4;}
.gris-fondo{background-color:#D1D3D4;}
.crema-fondo{background-color:#f9ecc0;}
.negro-fondo{background-color:#191916;}


body{
  font-family: 'Space Mono', monospace;
  color:#372929;
}

.texto-normal {
  font-size: 1rem;
}
.texto-chico {
  font-size: 0.8rem;
}
.texto-intro {
  font-size: 1.5rem;
  font-weight: 400;
}
.colgado {
  font-size: 0.8rem;
  font-weight: 400;
}
.titulo-normal{
  font-size: 1.5rem;
  font-weight: 700;
}
.titulo-mediano{
  font-size: 4rem;
  font-weight: 700;
}

.carousel-control-next, .carousel-control-prev {
  width: 5%;
}
